target
tests/node_modules/.bin
tests
mathpng-ffi/MathRenderer.xcframework/ios-arm64/libmathpng_ffi.a
mathpng-ffi/MathRenderer.xcframework/ios-arm64-simulator/libmathpng_ffi.a
mathpng-ffi/MathRenderer.xcframework/macos-arm64_x86_64/libmathpng_ffi.a
